.bill{
    margin: 15%;
   backdrop-filter: blur(40px);
    box-shadow: 0 0 9px;
    border-radius: 50px;
    width: 60%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table td,th{
    width: 40px;
    height: 40px;
    padding: 10px;

}
.bbutton{
    margin-top: 20px;
    background-color: whitesmoke;
}
.bbutton:hover{
 scale: 1.2;
 cursor: grab;
}