.fp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px black;
    height: 500px;
    width: 400px;
   background-color: whitesmoke;
   border: 3px solid red;
   border-radius: 20px;
}
.fd{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.fl,.fi,.fb{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.fi{
    border-radius: 20px;
    width: 80%;
    height: 20px;
    padding: 10px;
}
.fb{
    height: 50px;
    background-color: aqua;
    width: 90px;
}
.fb:hover{
    scale: 0.9;
}